<h2>Add a new item to your <%= @registry.name %></h2>
<%= form_for([@registry, @item]) do |f| %>
    
    <% if @item.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
            <% @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    
    <ul>
        <li><%= f.label :name, "Name" %><%= f.text_field :name %></li>
        <li><%= f.label :description, "Description" %><%= f.text_area :description, :rows => 3 %></li>

    </ul>


    <%= f.fields_for :item_attr_vals do |iav| %>
        <%= render 'item_attr_val_fields', :f => iav %>
    <% end %>
    <%= link_to_add_fields "Add another attribute", f, :item_attr_vals%>
        
    <div class="actions"><%= f.submit "Add" %> | <%= link_to "Return to Registry", registry_path(@registry)%></div>
<% end %>