<% if attr_name.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
            <% attr_name.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
<%= form_for attr_name do |f| %>
<ul>
  <li><%= f.label :description, "Description" %> <%= f.text_field :description%></li>


  <li><%= f.label :value_type, "Select the type of value this will be" %> <%= select(:attr_name, :value_type, [['String',"STRING"],['Float',"FLOAT"],['Date time',"DATETIME"],['Boolean',"BOOLEAN"],['Integer',"INTEGER"]])%></li>

  <li><%= f.label :link, "Will this be a link?"%><%= f.check_box :link, :value => "1" %></li>
  <li><%= f.label :treat_as_price %><%= f.check_box :treat_as_price, :value => "0" %></li>
</ul>
<div><%= f.submit %><%= link_to "Cancel", attr_names_path %>

<% end %>