<% @valid_bookings = Booking.valid_bookings(item.id) %>
<% @valid_bookings.each do |booking, index| %>
    <% #logger.debug "booking #{index} expires: #{booking.booking_expiry_date.to_s(:short)} "%>
<% end %>
<% if Booking.has_been_confirmed?(item.id) %>
    <span>Purchased</span>
<% elsif @valid_bookings.size == 0 %>
    <% if is_owner? %>
        <span>Nobody has booked this yet</span>
    <% elsif current_user.nil? %>
        <%= link_to "Log in to book this", login_path %>
    <% else %>
        <%= link_to "Book this item", registry_registry_item_bookings_path(@registry, item), :class => "book_link", :method => :post, :id => "book_item_#{item.id}", :remote => true %>
    <% end %>
<% elsif @valid_bookings.size > 0 %>
    <% @this_booking = @valid_bookings.first%>
    <% if ((current_user) && (@this_booking.user_id == current_user.id)) %>
        <strong>Booked by you</strong><br />
        <span>until <%= "#{@this_booking.booking_expiry_date.to_formatted_s(:short)}" %></span><br />
        <%= link_to "I've purchased this!", registry_registry_item_booking_path(@registry, item, @this_booking), :method => :put, :remote => true, :class => "purchased_link"%><br />

        <%= link_to "Cancel your booking", registry_registry_item_booking_path(@registry, item, @this_booking.id), :method => :delete, :id => "delete_booking_for_item_#{item.id}", :class => "cancel_booking_link", :remote => true, :confirm => "Are you sure you want to delete your booking for the item: #{item.name}"%>
    <% else %>
        <strong>Booked</strong><br />
        <span>until <%= "#{@this_booking.booking_expiry_date.to_formatted_s(:short)}" %></span>
    <% end %>
<% else %>
    <span>Unavailable</span>
<% end %>