<h2>Create a new Registry</h2>
<%= form_for([@current_user, @registry]) do |f| %>
    <% if @registry.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
                <% @registry.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
      <% end %>
    <ul>
        <li><%= f.label :name, 'Registry Name' %><%= f.text_field :name %></li>
        <li><%= f.label :description, 'Description' %><%= f.text_area :description, :content => nil, :rows => 3, :cols =>40 %></li>
        <li><%= f.label 'use_startdate', "Set a start date?" %><%= check_box_tag 'use_startdate'%></li>
        <li><%= f.label :startdate, 'Starts On' %><%= date_select @registry, :startdate %></li>
        <li><%= f.label 'use_enddate', "Set an end date?" %><%= check_box_tag 'use_enddate'%></li>        
        <li><%= f.label :enddate, 'Finishes on' %><%= date_select @registry, :enddate %></li>
        <li><%= f.label :public, 'Make Public' %><%= f.check_box :public, :value => "public" %><span class="important">If this is made public, anybody will be able to view the contents of this gift registry</span></li>
        <li><%= f.label :interest_interval, 'Days to be Reserved' %><%= f.text_field :interest_interval, :value => '3', :size => 3,:maxlength => 3 %><span>Pick between 1 to 999 days.</span></li>
    </ul>
    <div class="actions"><%= f.submit 'Create' %></div>
<% end %>