<h2><%=@registry.name.titlecase%></h2>
<div><%= @registry.description %>
<% if is_owner? %>
    <div class="owner_tools">
        <%= link_to "edit", edit_user_registry_path(@current_user,@registry) %> | <%= link_to "delete", user_registry_path(@current_user, @registry), :confirm => "Are you sure you wish to delete the registry called #{@registry.name}?", :method => :delete %>
    </div>
<% end %>
</div>
<ul id="registry_items_list">
    <% @registry.registry_items.each do |item| %>
    <li>
        <%= div_for(item) do%>
            <h3><%= item.name.titlecase %></h3>
            <p><%= item.description %></p>

            <div class="item_tools">
                <% if available_to_book? do %>
                    <div>Book this item</div>
                <% elsif booked? do %>
                    <div>Booked until PLACEHOLDER DATE TIME</div>
                <% elsif item.confirmed? do %>
                    <div>Purchased</div>
                <% else %>
                    <div>Unavailable</div>
                <% end %>
            </div>

            <% if item_attr_vals = item.item_attr_vals %>
                 <table class="item_attr_val_table">
                     <% format_attributes_for_listing(item_attr_vals).each_with_index do |fav, index| %>
                        
                        <%= content_tag :tr, :class => (index % 2 == 0 ? 'even': 'odd') do %>
                            <td class="attr_name col1"><%= fav[:attr_description]%></td>
                            <td class="attr_value col2"><%= fav[:attr_value]%></td>
                        <% end %>
                    <% end %>
                </table>
            <% end %>
            <% if is_owner? %>
                <div class="">
                    <%= link_to "edit", edit_registry_registry_item_path(@registry, item) %>, <%= link_to "delete", registry_registry_item_path(@registry, item), :confirm => "Are you sure you want to delete #{item.name} from this registry?", :method => :delete %>
                </div>
            <% end %>
        <% end %>
    </li>
    <% end %>
        

<% if is_owner? %>
    <span><%= link_to "Add an item to my registry", new_registry_registry_item_path(@registry) %></span>
<% end %>


<p><%= link_to "Return to #{(is_owner? ? owner_text.downcase : owner_text)} list of registries", user_registries_path(@path_user) %></p>