<h2><%=@registry.name.titlecase%></h2>
<div><%= @registry.description %>
<% if is_owner? %>
    <div class="owner_tools">
        <%= link_to "edit", edit_user_registry_path(@current_user,@registry) %> | <%= link_to "delete", user_registries_path(@current_user), :method => :delete, :confirm => "Are you sure you wish to delete the registry called #{@registry.name}?" %>
    </div>
<% end %>
</div>
<ul id="registry_items_list">
    <% @registry.registry_items.each do |item| %>
    <li>
        <%= div_for(item) do%>
            <h3><%= item.name.titlecase %></h3>
            <p><%= item.description %></p>
            <% if is_owner? %>
                <div class="owner_tools">
                    <%= link_to "edit", edit_registry_registry_item_path(@registry, item) %>, <%= link_to "delete", registry_registry_item_path(@registry, item), :confirm => "Are you sure you want to delete #{item.name} from this registry?", :method => :delete %>
                </div>
            <% end %>
            
            <% if false %>
            <% if item_attr_vals = item.item_attr_vals %>
                <ul class="item_attr_val_list">
                    <% item_attr_vals.each do |iav| %>
                        <li><%= iav.attr_name.description %>: <%= formatted_value(iav) %></li>
                    <% end %>
                </ul>
            <% end %> 
            <hr /> 
            <% end%>
            <% if item_attr_vals = item.item_attr_vals %>
                 <ul class="item_attr_val_list">
                     <% format_attributes_for_listing(item_attr_vals).each do |fav| %>
                        <li><%= fav[:attr_description]%>: <%= fav[:attr_value]%></li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    </li>
    <% end %>
        

<% if is_owner? %>
    <span><%= link_to "Add an item to my registry", new_registry_registry_item_path(@registry) %></span>
<% end %>


<p><%= link_to "Return to #{(is_owner? ? owner_text.downcase : owner_text)} list of registries", user_registries_path(@path_user) %></p>