<!DOCTYPE html>
<html>
<head>
  <title>Bee Registered<%= @title?" - #{@title}":nil%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="masthead">
        <h1>
            <%= link_to image_tag("logo.png", :alt => "Bee Registered", :title => "Click to return to the Bee Registered homepage"), root_url %>
        </h1>
        <div id="login_logout">
            <%= render "shared/login_logout"%>
        </div>
        <ul id="nav_bar">
            <li><%= link_to "Home", root_url %></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
    <div id="container">

        <div id="content">
            <% flash.each do |name,msg| %>
                <%= content_tag :div, msg, id: "flash_#{name}" %>
            <% end %>
            
            <%= yield %>
        </div>
        <div id="footer">
            <p>All Rights Are Mine - Jonathan Tan - 2011-2013</p>
        </div>
    </div>
</body>
</html>
