<!DOCTYPE html>
<html>
<head>
  <title>GiftRegistry</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
        <div id="masthead">
            <h1><%= link_to "Bee Registered", root_url %></h1>
            <div id="login_logout">
                <%= render "shared/login_logout"%>
            </div>
        </div>
        <div id="content">
            <% flash.each do |name,msg| %>
                <%= content_tag :div, msg, id: "flash_#{name}" %>
            <% end %>
            
            <%= yield %>
        </div>
        <div id="footer">
            <p>All Rights Are Mine - Jonathan Tan - 2012-2013</p>
        </div>
    </div>
</body>
</html>
